.menubar {
    width: 100%;
    height: 60px;
    background-color: rgb(161, 21, 48);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    font-family:"NotoSansKR";    
    z-index: 100;
}

.menubar a {    
	color: white;
}

.menubar  i {
    font-size: 20px;
}

.menubar .ani:hover {
    animation-name: fadein;
    animation-duration: 0.4s;
}

.menubar__content {
    display: flex;
    align-items: center;
}

.menubar__content div {
    padding-left: 20px;
    padding-right: 20px;
}

.menubar__content--list, .menubar__content--logo {
    height: 60px;
    display: flex;
    align-items: center
}

.menubar__weather {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.menubar__weather div {
    margin-right: 10px;
}

.menubar__weather div:first-child {
    margin-right: 20px;
}

/* sub-menubar */

.sub-menubar {
    display: none;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgb(161, 21, 48);
    z-index: 90;
    padding-left: 62.5px;
    margin-top: 40px;
    padding-top: 40px;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.sub-menubar__list-box {
    width: 113px;
    display: flex;
    justify-content: space-around;
    font-family: "NotoSansKR";
    color: white;
}

.sub-menubar__list-box--one {
    
}

.sub-menubar__list-box--two-title {
    padding-left: 99.5px;
}

.sub-menubar__list-box--three-title {
    padding-left: 198.5px;
}

.sub-menubar__list-box--four {
    padding-left:  305.5px;
}

.sub-menubar__list-box--five-title {
    padding-left:  411.5px;
}

.sub-menubar__list-box--five-title * {
    margin-bottom: 8px;
}

.sub-menubar__list-box--six {
    padding-left:  516.5px;
}

.sub-menubar__tip-box {
    display: flex;
}


.sub-menubar__fos-box--flex-fos, .sub-menubar__sen-box--flex-sen, .sub-menubar__tip-box--flex-location, .sub-menubar__tip-box--flex-bus, .sub-menubar__tip-box--flex-scholarship {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
}
.sub-menubar__fos-box--flex-fos a, .sub-menubar__sen-box--flex-sen a, .sub-menubar__tip-box--flex-location a, .sub-menubar__tip-box--flex-bus a, .sub-menubar__tip-box--flex-scholarship a {
    margin-bottom: 8px;
}

.sub-menubar__fos-box--flex-fos a div {
    justify-content: flex-start;
}

/* animations */

@keyframes fadein {
    0% { opacity: 0.3; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}