.credit-btn {
    width: 19%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 1px -1px rgba(116, 108, 108, 0.2), 0 1px 1px #00000024, 0 1px 3px #0000001f;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

.credit-list-wrap {
    width: 50%;
}

.credit-list-table {
    display: none;
}

.credit-btn:hover {
    color: white !important;
    background-color: rgb(0, 52, 102) !important;
    transition: all 0.6s;
}

.credit-list-table colgroup :first-child {
    border-left: none !important;
}

.credit-list-table colgroup col {
    border-left: 0.8px solid #d2d2d2 !important;
}

.credit-list-table th, .credit-list-table td {
    vertical-align: middle;
}

.credit-list-table tbody tr:nth-child(4n-2), .credit-list-table tbody tr:nth-child(4n-3)  {
    background-color: white;
}

.credit-list-table tbody tr:nth-child(4n-2), .credit-list-table tbody tr:nth-child(4n)  {
    border-top: 1px solid #d2d2d2;
}

/* .credit-list-table tbody tr:nth-child(4n-3):hover ~ .tr2 {
    background-color: #b5b5b5;
}  */

.credit-list-table tbody tr:nth-child(4n-1), .credit-list-table tbody tr:nth-child(4n) {
    background-color: #efefef8c;
} 

.display-table {
    display: table;
}

.display-none {
    display: none;
}

.input-flex-box .input-div-wrap {
    width: 14%;
    display: flex;
    flex-direction: column
}

.input-flex-box .input-div-wrap * {
    width: 100% !important;
}

.input-flex-box .input-div-wrap label {
    margin-bottom: 20px;
}

#credit-result-btn {
    padding: 10px 40px;
    cursor: pointer;
}

.credit-table-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.credit-result-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.credit-result-box {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.credit-result-box div {
    width: 33%;
}

.credit-result-title {
    font-size: 20px;
    font-weight: bold;
    font-family: "NotoSansKR";
    text-align: center;
}

/* 모바일 */
@media screen and (max-width: 767px) {
    .credit-list-wrap {
        width: 95%;
    }
    .credit-btn {
        width: 46%;
    }

    .cal-wrap {
        width: 100% !important;
    }
    .input-div-wrap {
        width: 45% !important;
        margin-bottom: 10px;
    }

    .credit-result-box div:first-child {
        width: 25%;
        font-size: 16px;
    }

    .credit-result-box div {
        font-size: 16px;
    }

    .credit-result-box div:last-child {
        width: 60%;
        font-size: 16px;
    }
}