/* assets --> */
@import url("font.css"); /* font */
@import url("reset.css"); /* reset */
@import url("icon.css"); /* icon */

/* <-- assets */


/* body --> */

@import url("popup.css");

@import url("header.css"); /* header */
@import url("main.css"); /* main */
@import url("section.css"); /* section */
@import url("footer.css"); /* footer */
@import url("aside.css"); /* aside */

@import url("section-credit.css"); /* section-credit.html */
@import url("section-tip.css"); /* section-tip.html */
@import url("section-fos.css"); /* section-fos.html */
@import url("section-sen-test.css"); /* section-sen-test.html */
@import url("section-notice.css"); /* section-notice.html */

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: #fafafa;
}

/* <-- body */